<!DOCTYPE HTML>
{% load static %}
<html lang="en">
{% include 'layouts/head.html' %}
<body>


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Verification</h4>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="code" class="form-control" placeholder="Enter your sms code" >
                </div> <!-- form-group// -->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Verification  </button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">Don't have account? <a href="{% url 'registration' %}">Sign up</a></p>
    <br><br>


</section>




</body>
</html>